* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FFFFFF;
    
}


/* Header */

header{
    margin-top: 8px;
    margin-bottom: 2px;
}

.header-img {
    width: 351px;
    display: block;
    margin: auto;
}



/* Section */

section {
    width: 90%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 2px;
}

.section-div {
    background-color: #EEEEEE;
    text-align: center;
    padding: 1px;
}


section input[type="text"] {
    width: 309px;
    padding: 1px 2px;
}


section input[type="submit"] {
    /* width: 312px; */
    padding: 1px 6px;
}


/* Footer */
footer{
    max-width: 90%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 95px;
}

footer input[type="text"] {
    padding: 1px 2px;
}

/* Footer Top */
.footer-left-div{
    float: left;
    background-color: #7EE5DA;
    width: 38%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 0.5%;
}

.footer-left-div > a,
.footer-left-div > p
{
    display: block;
    text-align: center;
}


.footer-center-div{
    float: left;
    background-color: #70CCC2;
    font-size: small;
    width: 18%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 0.5%;
}

.footer-center-div > a
{
    display: block;
    text-align: center;
}

.footer-right-div{
    float: right;
    background-color: #62B3AA;
    font-size: small;
    width: 43%;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}


/* Footer Bottom */

.copyright {
    text-align: center;
    font-size: small;
}